{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Feiras Livres em SP</title>
</head>
<body>
    <div style="text-align: center">
        <h1>Feiras Livres em São Paulo</h1>
        <h2>Como utilizar a API</h2>
        <div>
            <footer>
                <h4>Projeto feito com:</h4>
                <img src="{% static 'img/logo-python.svg' %}" width="150" height="50" alt="">
                <img src="{% static 'img/logo-django.svg' %}" width="150" height="50" alt=""><br /><br /><br />
            </footer>
        </div>

    </div>
</body>
</html>
